<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='Product')"></head>
<body>
<nav data-th-include="fragments/layout :: NavBar"></nav>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Product</h1>
            <form data-th-action="@{/product/{id} (id=${product.id})}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Product name" id="name" name="name" type="text" class="validate" required data-th-text="${product.name}">
                        <label for="name">Product name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="experimentId" name="experimentId" class="materialize-textarea" required data-th-text="${product.experiment.id}" readonly></textarea>
                        <label for="experimentId">Experiment ID</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="formula" name="formula" class="materialize-textarea" required data-th-text="${product.formula}"></textarea>
                        <label for="formula">Formula of product</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="molecularWeight" name="molecularWeight" class="materialize-textarea" required data-th-text="${product.molecularWeight}"></textarea>
                        <label for="molecularWeight">Molecular weight of product</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="amountGram" name="amountGram" class="materialize-textarea" required data-th-text="${product.amountGram}"></textarea>
                        <label for="amountGram">Amount of reagent in grams</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="linkForDescription" name="linkForDescription" class="materialize-textarea" required data-th-text="${product.linkForDescription}"></textarea>
                        <label for="linkForDescription">Description of product</label>
                    </div>
                </div>
                <button class="waves-effect waves-light btn" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>

<div data-th-include="fragments/layout :: scriptsFragment" data-th-remove="tag"></div>
</body>
</html>